@model e_okul.Models.ViewModels.UserVM

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">User Settings</h2>
            <hr />
        </div>
        <div class ="col-4">
        @if (Model.Student != null)
        {
            <div class="mb-3">
                <label asp-for="Student.Name"></label>
                <input asp-for="Student.Name" class="form-control" disabled />
                <span asp-validation-for="Student.Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Student.Surname"></label>
                <input asp-for="Student.Surname" class="form-control" disabled />
                <span asp-validation-for="Student.Surname" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Student.Class"></label>
                <input asp-for="Student.Class" class="form-control" />
                <span asp-validation-for="Student.Class" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Student.ClassLetter"></label>
                <input asp-for="Student.ClassLetter" class="form-control" />
                <span asp-validation-for="Student.ClassLetter" class="text-danger"></span>
            </div>
        }
        <button type="submit" class="btn btn-primary" style="width:150px">Save</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Go To Homepage
        </a>
        </div>
    </div>
</form>

@section Scripts{
@{
    <partial name="_ValidationScriptsPartial" />
}
}