@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-4 text-primary">
    <h1 class="display-4">Welcome to E-School</h1>
    <div>
           <a asp-controller="SignInUp" asp-action="SignIn" class="btn btn-primary mx-2"></i>Sign In</a>
           <a asp-controller="SignInUp" asp-action="SignUp" class="btn btn-primary mx-2"></i>Sign Up</a>
           <a asp-controller="Student" asp-action="Index" class="btn btn-primary mx-2"></i>Student</a>
    </div>
</div>