<div>
    <div class="row pb-2">
        <h1>Student Page</h1>
    </div>
    <div>
        <a asp-controller="Student" asp-action="Config" class="btn btn-primary mx-2"></i>User Informations</a>
        <a asp-controller="Student" asp-action="CourseSelection" class="btn btn-primary mx-2"></i>Course Selection</a>
    </div>
</div>